body{
    background:fixed no-repeat linear-gradient(135deg,skyblue 50%,transparent);
    font: 16px arial;
    text-transform: capitalize;
}
header{
    align-items: center;
    background: blue;
    border-radius: 10px;
    display: flex;
    height: 100px;
}
a{
    color: rgb(100, 100, 100);
    margin: 20px;
    text-decoration: none;
    transition:.6s linear;
}
section{
    display: none;
    flex-flow: column wrap;
    gap: 5px;
    position: absolute;
    right: 50px;
}
.h0{
    background: white;
    height: 3px;
    width: 20px;

}
.head0:hover{
    color: white;
}
.div0{
    align-items: center;
    background: red;
    border-radius: 25px;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 50px auto;
    transition:.6s linear;
    width: 100px;
}
.div0:hover{
    background: blue;
    box-shadow: 0 0 1.5px 3px red;
    cursor: pointer;
}
.div1{
    animation: test 3s infinite;
    border-radius: 20px;
    height: 100px;
    margin: auto;
    transition:.6s linear;
    width: 100px;
}
.div1:hover{
    box-shadow: 0 0 1.5px 3px yellow;
    cursor: pointer;
}
footer{
    display: flex;
    flex-flow:row wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 450px;
    text-align: center;
}
.item{
    background: rgb(0, 0, 100);
    border-radius: 20px;
    color: rgb(100, 100, 100);
    height: 200px;
    width: calc(48vw - 20px);
    transition:.6s linear;
}
.item:hover{
    background: blue;
    color: white;
    cursor: pointer;
}
@keyframes test{
    0%{
        background: red;
        rotate: 90deg;
        translate: 0 0;
    }
    33%{
        background: green;
        rotate: 180deg;
        translate: 30vw 30vh;
    }
    66%{
        background: blue;
        rotate: 270deg;
        translate: -30vw 30vh;
    }
    100%{
        background: red;
        rotate: 360deg;
        translate: 0 0;
    }
}
@media only screen and (max-width:768px){
    section{
        display: flex;
    }
    footer{
        flex-flow:column wrap;
    }
    .item{
        width: 100%;
    }
}