body{background:fixed no-repeat linear-gradient(135deg,skyblue 50%,transparent);}
.div0{
    background: red;
    border-radius: 25px;
    height: 50px;
    margin: 50px auto;
    transition:.6s linear;
    width: 200px;
}
.div0:hover{
    background: green;
    box-shadow: 0 0 1.5px 3px yellow;
    cursor: pointer;
}
.div0:active{
    background: blue;
    box-shadow: 0 0 1.5px 3px red;
}
.div1{
    animation: test 3s infinite;
    border-radius: 20px;
    height: 100px;
    margin: auto;
    transition:.6s linear;
    width: 100px;
}
.div1:hover{
    box-shadow: 0 0 1.5px 3px yellow;
    cursor: pointer;
}
.div1:active{
    box-shadow: 0 0 1.5px 3px black;
}
footer{
    display: flex;
    font: large arial;
    gap: 20px;
    justify-content: center;
    margin-top: 450px;
    text-align: center;
}
.item{
    background: blue;
    border-radius: 20px;
    height: 200px;
    width: 250px;
}
@keyframes test{
    0%{
        background: red;
        rotate: 90deg;
        translate: 0 0;
    }
    33%{
        background: green;
        rotate: 180deg;
        translate: 400px 400px;
    }
    66%{
        background: blue;
        rotate: 270deg;
        translate: -400px 400px;
    }
    100%{
        background: red;
        rotate: 360deg;
        translate: 0 0;
    }
}
@media (max-width:600px){
    @keyframes test {
        0%{
            background: red;
            rotate: 90deg;
            translate: 0 0;
        }
        33%{
            background: green;
            rotate: 180deg;
            translate: 150px 150px;
        }
        66%{
            background: blue;
            rotate: 270deg;
            translate: -150px 150px;
        }
        100%{
            background: red;
            rotate: 360deg;
            translate: 0 0;
        }
        
    }
    footer{
        flex-flow:column wrap;
    }
    .item{
        width: 100%;
    }
}
@media(min-width:601px) and (max-width:992px){
    @keyframes test {
        0%{
            background: red;
            rotate: 90deg;
            translate: 0 0;
        }
        33%{
            background: green;
            rotate: 180deg;
            translate: 200px 200px;
        }
        66%{
            background: blue;
            rotate: 270deg;
            translate: -200px 200px;
        }
        100%{
            background: red;
            rotate: 360deg;
            translate: 0 0;
        }
        
    }
    footer{
        flex-flow:wrap;
    }
    .item{
        width: 48%;
    }
}